{% extends "../layout.html" %}
{% block pageTitle %}Contact us{% endblock %}
{% block content %}
<section class="row">
    <div class="col-md-8">
        <div class="section-header col-xs-12">
            <hr>
            <h2 class="strong-header">
                Get in touch
            </h2>
        </div>
        <div class="col-xs-12">
            <p>
                Whether you have any questions, comments or you would like to keep in touch, just drop us a line using
                the form below. We'd love to connect with you.
            </p>

            <contact-form></contact-form>
            <!-- / simpleForm -->

        </div>
    </div>

    <div class="col-md-4">
        <div class="space-30"></div>
        <div class="section-emphasis-3 page-info">
            <h3 class="strong-header">
                Contact
            </h3>

            <div class="text-widget">
                <address>

                    (00357) 22 507570
                </address>
            </div>
            <br>
            <h3 class="strong-header">
                Location
            </h3>

            <div class="text-widget">
                <address>
                    81 Digeni Akrita,<br>
                    1070 Nicosia,<br> Cyprus
                </address>
                <br>
                -
                <address>
                    My Mall Limassol, Shop G41<br />
                    tel: (00357) 22 507 525
                </address>
            </div>
        </div>
    </div>

</section>
{% endblock %}